<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="padding:5%">
        <div class="card">
            <div class="card-header">
                Ejemplos
            </div>
            <!-- llamada a mensaje general-->
            <div class="card">
                <div id="app" class="card-body">
                    <h5 class="card-title">Mensaje general: </h5>
                    <p class="card-text">{{message}}</p>
                </div>
            </div>
            <!-- Mensaje tooltip-->
            <div class="card">
                <div id="app-2" class="card-body">
                    <h5 class="card-title">Mensaje tooltip:</h5>
                    <span v-bind:title="message2">
                        Hover your mouse over me for a few seconds
                        to see my dynamically bound title!
                    </span>
                </div>
            </div>
            <!-- condicionales -->
            <div class="card">
                <div id="app-3" class="card-body">
                    <h5 class="card-title">Condicionales:</h5>
                    <span v-if="seen">Visible field</span>
                </div>
            </div>
            <!--Directiva for-->
            <div class="card">
                <div id="app-4" class="card-body">
                    <h5 class="card-title">Directiva For</h5>
                    <ol>
                        <li v-for="todo in todos">
                            {{todo.text}}
                        </li>
                    </ol>
                </div>
            </div>
            <!--Event listener-->
            <div class="card">
                <div id="app-5" class="card-body">
                    <h5 class="card-title">Event listener</h5>
                    <p>{{message5}}</p>
                    <button v-on:click="reverseMessage" class="btn btn-outline-primary">Reverse Message</button>
                </div>
            </div>
            <!--Model-->
            <div class="card">
                <div id="app-6" class="card-body">
                    <h5 class="card-title">Model</h5>
                    <p>{{message6}}</p>
                    <input v-model="message6">
                </div>
            </div>
            <!--Component-->
            <div class="card">
                <div id="app-7" class="card-body">
                    <h5 class="card-title">Componentes</h5>
                    <ol>
                        <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
                        </todo-item>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var app=new Vue({
        el: '#app',
        data() {
            return {
                message: 'Hello Vue!!!!'
            }
        },
    })
    var app2=new Vue({
        el: '#app-2',
        data() {
            return {
                message2: 'You loaded this page on ' + new Date().toLocaleString()
            }
        }
    })
    var app=new Vue({
        el: '#app-3',
        data() {
            return {
                seen: true
            }
        }
    })
    var app4 = new Vue({
        el: '#app-4',
        data() {
            return {
                todos: [
                    {text:'Learn JavaScript'},
                    {text: 'Learn Vue'},
                    {text: 'Build something awesome'}
                ]
            }
        }
    })
    var app5 = new Vue({
        el: '#app-5',
        data() {
            return {
                message5: 'Hello Vue.js'
            }
        },
        methods: {
            reverseMessage: function() {
                this.message5 = this.message5.split('').reverse().join('')
            }
        },
    })
    var app6 = new Vue({
        el: '#app-6',
        data() {
            return {
                message6: 'Hello Vue'
            }
        }
    })
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    })
    var app7 = new Vue({
        el: '#app-7',
        data() {
            return {
                groceryList: [
                    { id:0, text:'item1' },
                    { id:1, text:'item2' },
                    { id:2, text:'item3' },
                ]
            }
        }
    })
</script>
</html>